body{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{ color: rgb(38, 67, 174);
font-size: 14;

}
code {
    background-color: rgb(129, 21, 127);
    color: rgb(208, 217, 234);
}